/*  ---------- Футер  ---------- */
.footer {
    padding: 60px 0;
    
    text-align: center;

    background-color: $hero-and-footer-bg;

    &__container {
        
        align-items: baseline;

        @media screen and(min-width:$bp-desktop) {
          display: flex;
        
        }
          @media screen and(min-width:$bp-tablet) and(max-width:$bp-desktop-1px){
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
        
      }

      
      
    &__logo {
        margin-bottom: 28px;
      
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: $black-color;
      }
    &__address {
        display: flex;
        flex-direction: column;

        margin-bottom: 60px;
      }
}
@media screen and(min-width: $bp-desktop) {
  .footer{
  text-align: start;
  }

}
 @media screen and(min-width: $bp-tablet) {
    .footer__address{
    margin-bottom: 60px;
    }
  }