/* -------------Футер соцмережі--------------- */
.footer-social {
    
    height: 80px;
    margin-bottom: 60px;
    


  &__title {
    margin: 0px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    color: $white-color;
  }
  
  &__list {
    gap: 10px;
    display: flex;
    justify-content: center;
  }
  
  &__item {
    display: flex;
    border-radius: 50%;
    border-color: $accent-color;
  }
  
  &__link {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  
    transition: background-color $transition-time-hover-focus
      cubic-bezier(0.4, 0, 0.2, 1);
  
    fill: $white-color;
    background-color: $socials-footer-bg;
  }
  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
  }
  }
  
  @media screen and (min-width: $bp-desktop) {
    .footer-social{
      margin-bottom: 0;
    }
  }