/* ------------- Футер підписка --------------- */
.subscription {
    display: flex;
    margin-left: 93px;
    align-items: baseline;
    flex-direction: column;
    min-width: 570px;
    min-height: 86px;

    &__btn {
        position: relative;
        padding: 10px 62px 10px 28px;
        min-width: 200px;
        min-height: 50px;
      
        margin-left: 12px;
      
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        cursor: pointer;
      
        transition: background-color $transition-time-hover-focus
          cubic-bezier(0.4, 0, 0.2, 1);
      
        border: 0;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      
        color: $white-color;
        background-color: $accent-color;
      }
      &__btn:hover,
      &__btn:focus {
        background-color: $btn-active;
      }
      
      &__svg {
        position: absolute;
        top: 25%;
        right: 28px;
      
        width: 24px;
        height: 24px;
      
        fill: $white-color;
      }
      
      &__input {
        width: 358px;
        height: 50px;
      
        padding: 0;
        padding-left: 16px;
      
        font-size: 16px;
        line-height: 1.25;
      
        align-items: center;
      
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
      
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(0, 0, 0, 0);
      }
}