/* ---------- hero ---------- */
.hero {
    padding: 200px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
  
    background-color: $hero-bg;
  
    text-align: center;
  
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        margin-bottom: 30px;
        margin: auto;
      
        max-width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      
        color: $white-color;
      }

    &__btn {
        margin-top: 30px;
        border-radius: 4px;
        padding: 10px 24px;
        min-width: 67px;
      
        font-family: Roboto, system-ui;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        cursor: pointer;
      
        transition: background-color $transition-time-hover-focus
          cubic-bezier(0.4, 0, 0.2, 1);
      
        border: 0;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      
        color: $white-color;
        background-color: $accent-color;
      }
      &__btn:hover,
      &__btn:focus {
        background-color: $btn-active;
      }
  }
 