$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$black-color: #000000;
$address-color: rgba(255, 255, 255, 0.6);
$secondary-bg-color: #f5f4fa;
$hero-and-footer-bg: #2f303a;
$btn-active: #188ce8;
$link-bc: #afb1b8;
$socials-footer-bg: rgba(255, 255, 255, 0.1);
$hero-bg: #c4c4c4;
$backdrop: rgba(0, 0, 0, 0.2);

$transition-time-hover-focus: 250ms;
$social-item-gap: 10px;
$card-set-gap: 30px;